# General
.DS_Store
*.log

# Backend / Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env.local
setup_secrets.ps1

# Node / Next.js
node_modules/
.next/
out/
build/
dist/

# Firebase
.firebase/
firebase-debug.log
